.button1{
    margin-right: 70px;
}
.button2{
    margin-left: 70px;
}
.centered {
    display: table-cell;
      height: 400px;
      width: 800px;
      background: red;
    text-align: center;
    vertical-align: middle;
    }
