.CompareContainer {
    padding: 2rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  
  .CompareContainer h1 {
    font-size: x-large;
    font-weight: 600;
    margin-bottom: 5px;
    margin-top: 5px;
  }
  
  .CompareContainer h2 {
    font-size: large;
    font-weight: 600;
    margin-bottom: 5px;
    margin-top: 5px;
  }
  
  .CompareContainer input {
    outline: none;
    width: auto;
    /* border: 0; */
    border-bottom: 2px solid black;
    padding: 8px;
    background: none;
  }
  
  .CompareContent {
    display: flex;
    justify-content: center;
  }
  
  .tile-container {
    display: flex;
    flex-wrap: wrap;
  }
    
    /* Style for the tile container */
  .tile-container {
    display: flex;
    flex-wrap: wrap;
  }
  
  /* Style for square tiles */
  .square-tile {
    width: 200px;
    height: 300px;
    margin: 10px;
    background-color: #0c1a3c;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #ccc; /* Add a border for styling */
    border-radius: 45px;
    /* Add 3D shadow effect */
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2), -5px -5px 10px rgba(0, 0, 0, 0.2);
    color: white;
  }
  
  /* Hover effect */
  .square-tile:hover {
    background-color: rgb(99, 84, 84); /* Change the color on hover */
  }
  
  /* Clicked effect */
  .square-tile:active {
    background-color: rgb(99, 84, 84); /* Change the color on click */
  }
  
  /* Style for tile content */
  .tile-content {
    text-align: center;
  }
  
  /* Style for the cart */
  .sidebar {
    width: 500px; /* Adjust the width as needed */
    background-color: #f0f0f0; /* Background color for the cart */
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
    /* Add any other styles you want for the cart */
    height: 100; /* Make it full height of the viewport */
    overflow-y: auto; /* Add vertical scroll if needed */
  }
  
  .cart-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 5px;
    margin-top: 5px;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    background-color: rgb(211, 201, 201);
    border-radius: 10px;;
  }